/*
2. Modificar la hoja de estilos, de forma que el banner no tenga el color naranja, sino que ahora sea blanco en formato hexadecimal.
3. Eliminar la propiedad que hace que el contenido sea naranja.
Error 404: Lógica no encontrada.
*/
img {
    width: 760px;
    height: 198px;
    border: 3px solid black;
}
h2 {
    text-decoration: underline;
}
h3 {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: darkblue;
    letter-spacing: 4px;
}
ol.ejercicio {
    list-style-type: square;
    list-style-position: inside;
}
body {
    background: #FFF;
	font-family: "Quicksand", sans-serif;
	color: #333;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navbar {
  float: left;
}

a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.navbar:hover:not(.active) {
  background-color: #111;
}

a.inicio {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #04AA6D;
}
a.inicio:hover:not(.active) {
  background-color: #111;
}

header {
    margin-bottom: 5px;
}