body {
    background: black;
    background: faf5f6;
	font-family: "Quicksand", sans-serif;
	color: #FFF;
}

ol {
    display: flex;
    flex-direction: column;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbar a:hover:not(.active) {
  background-color: #111;
}

.inicio {
  background-color: #04AA6D;
}

div {
    padding: 5px;
}

/*

*/
.dropdown {
    padding-right: 40px;

}
.dropdown .dropdown-menu {
    position: fixed;
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  background: #333;
}
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

img {
    transition: 0.5s;
    margin-bottom: -10px;
    position: relative;
    top: -7px;
    left: 4px;
}

.dropdown:hover img {
    transition: 0.5s;
  transform: rotate(-180deg);
}