:root {
  --bg: #1a1e2d;
  --green: #a5ea9b;
  --purple: #cc00cc;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
  --mgreen: #0f0;
  --black: #000;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	font-size: 1em;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	overflow-x:hidden;
	background: var(--bg);
}

.title {
	transition: 1.5s;
	width: 100vw;
	text-align: center;
	font-size: 5em;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--black);
	text-shadow: 0 0 10px var(--cyan),
			0 0 20px var(--cyan),
			0 0 40px var(--cyan),
			0 0 80px var(--cyan),
			0 0 160px var(--cyan);
}

#name {
	color: var(--cyan);
	text-shadow: none;
}

#name:hover {
	transition: 1.5s;
	color: var(--black);
	text-shadow: 0 0 4px var(--purple),
			0 0 8px var(--blue),
			0 0 16px var(--cyan),
			0 0 32px var(--orange),
			0 0 64px var(--green);
}

section {
height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

#fol {
    background: url(./src/fol.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-image {
	margin: auto;
}

/* Gray Scale */
.container-image img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.container-image:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* BONGO CAT */
.bongo_cat_container {
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  display: flex;
  place-content: center;
  align-items: flex-end;
  position: relative;
  z-index: -100;
}

.bongo_cat_container svg {
  height: 80%;
  width: 80%;
  overflow: visible;
}

#bongo-cat {
  fill: var(--bg);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
}
#bongo-cat .laptop-cover,
#bongo-cat .headphone .band {
  fill: none;
}
#bongo-cat .paw, #bongo-cat .head {
  stroke: var(--orange);
}
#bongo-cat .laptop-keyboard {
  stroke-width: 2;
}
#bongo-cat .terminal-code {
  stroke-width: 5;
}
#bongo-cat .music .note,
#bongo-cat .laptop-base,
#bongo-cat .laptop-cover,
#bongo-cat .paw .pads {
  stroke: var(--purple);
}
#bongo-cat .table line,
#bongo-cat .headphone .band,
#bongo-cat .headphone .speaker path:nth-child(3) {
  stroke: var(--green);
}
#bongo-cat .terminal-frame,
#bongo-cat .laptop-keyboard,
#bongo-cat .headphone .speaker path:nth-child(2) {
  stroke: var(--blue);
}
#bongo-cat .terminal-code,
#bongo-cat .headphone .speaker path:first-child {
  stroke: var(--cyan);
}

/* Toggle */

.toggle {
	position: fixed;
	top: 10%;
	right: 5%;
	width: 5vh;
	height: 5vh;
	background: var(--purple);
	border-radius:5px;
	cursor: pointer;
	  overflow: hidden;
	    display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}

.line-toggle {
  position: absolute;
  display: block;
  width: 75%;
  height: 10%;
  background: var(--cyan);
  border-radius: 5px;
  transition: all .6s;
}

.line-toggle:first-child {
  transform: translateY(-1vh);
  transition-delay: 0s;
}

.toggle .line-toggle:nth-child(2) {
  transition-delay: .12s;
}

.line-toggle:last-child {
  transform: translateY(1vh);
  transition-delay: 0s;
}
.toggle.activate {
	background: var(--mgreen);
	border-radius: 50%;
	border: none;
	box-shadow: 0 0 10px var(--mgreen),
			0 0 20px var(--mgreen),
			0 0 40px var(--mgreen),
			0 0 80px var(--mgreen),
			0 0 160px var(--mgreen);
	transition-delay: .1s;
}

.toggle.activate .line-toggle:first-child {
  background: var(--black);
  transform: translateY(0) translateX(0) rotate(45deg);
  transition-delay: .1s;
}

.toggle.activate .line-toggle:nth-child(2) {
  transform: translateX(110px);
  transition-delay: 0s;
}

.toggle.activate .line-toggle:last-child {
  background: var(--black);
  transform: translateY(0) translateX(0) rotate(314deg);
  transition-delay: .1s;
}

/* RIGTHBAR */
.rightbar {
	position: fixed;
	background: var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
	padding: 40px;
	padding-top: 10%;
	z-index: 200;
	right: -100%;
	height: 100%;
		box-shadow: 0 0 10px var(--black),
			0 0 20px var(--black),
			0 0 40px var(--black),
			0 0 80px var(--black),
			0 0 160px var(--black);

}
.rightbar.activate{
	right: 0%;
}

/* BUTTON */
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.button a {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid #0f0;
	margin: 20px 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 2px;
	color: #fff;
	-webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
	transition: 0.5s;
	transition-delay: 0s;
	background: transparent;
}
.button a:hover {
	transition-delay: 1.5s;
	color: #000;
	cursor: pointer;
	box-shadow: 0 0 10px #0f0,
				0 0 20px #0f0,
				0 0 40px #0f0,
				0 0 80px #0f0,
				0 0 160px #0f0;
}
.button a:focus {
	transition-delay: 1.5s;
	color: #000;
	cursor: pointer;
	box-shadow: 0 0 10px #0f0,
				0 0 20px #0f0,
				0 0 40px #0f0,
				0 0 80px #0f0,
				0 0 160px #0f0;
}
.button a span {
	position: relative;
	z-index: 100;
}
.button a::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	box-shadow: 5px -8px 0 #0f0,
				5px 8px 0 #0f0;
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	transition-delay: 1s, 0.5s, 0s, 0s;
}
.button a:hover::before {
	width: 60%;
	height: 100%;
	left: -2px;
	box-shadow: 5px 0 0 #0f0,
				5px 0 0 #0f0;
	transition-delay: 0s, 0.5s, 1s, 1s;
}
.button a:focus::before {
	width: 60%;
	height: 100%;
	left: -2px;
	box-shadow: 5px 0 0 #0f0,
				5px 0 0 #0f0;
	transition-delay: 0s, 0.5s, 1s, 1s;
}
.button a::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	box-shadow: -5px -8px 0 #0f0,
				-5px 8px 0 #0f0;
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	transition-delay: 1s, 0.5s, 0s, 0s;
}
.button a:hover::after {
	width: 60%;
	height: 100%;
	right: -2px;
	box-shadow: -5px 0 0 #0f0,
				-5px 0 0 #0f0;
	transition-delay: 0s, 0.5s, 1s, 1s;
}
.button a:focus::after {
	width: 60%;
	height: 100%;
	right: -2px;
	box-shadow: -5px 0 0 #0f0,
				-5px 0 0 #0f0;
	transition-delay: 0s, 0.5s, 1s, 1s;
}

/* FORMS */
form {
	color: var(--cyan);
	display: block;
	border: 10px solid var(--purple);
	border-radius: 20px;
	height: auto;
	margin: 2%;
	padding: 1%;
	width: auto;

}

form h1 {
  color: var(--green);
  font-size: 2em;
  font-weight: 600;
  margin-top: 1%;
  text-align: center;
  padding-bottom: 10%;
  letter-spacing: 2px;
  overflow-wrap: anywhere;
}

form .button {

}

.input {
  background-color: #fff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #222;
  font-size: 1.5em;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: var(--cyan);
}

.input:focus ~ .placeholder {
  color: var(--green);
}



.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.cut {
  background-color: var(--bg);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 90%;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: auto;
}
