body {
    background: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.navbar:hover:not(.active) {
  background-color: #111;
}

a.inicio {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #04AA6D;
}
a.inicio:hover:not(.active) {
  background-color: #111;
}

header {
    margin-bottom: 5px;
}

#caja1 {
    background: #333;
    border: 10px groove red;
    margin: 1%;
}

#caja2 {
    background: #666;
    padding: 2% 4%;
    margin: 1.5% 10%;
    border-style: double;
    border-width: 20px 1px;
}

p {
    background: #999;
    border: 4px dashed white;
}

body {
    background: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.navbar:hover:not(.active) {
  background-color: #111;
}

a.inicio {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #04AA6D;
}
a.inicio:hover:not(.active) {
  background-color: #111;
}

header {
    margin-bottom: 5px;
}
