div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #17D4FE;
    font-size: 2em;
    font-family: Orbitron;
    /* orbitron-regular - latin */
    color: #fff;
    font-size: 2.5em;
    line-height: 1.5;
    text-shadow:
    0 0  5px #fff,
    0 0  10px #fff,
    0 0  15px #fff,
    0 0  20px #0f0,
    0 0  35px #0f0,
    0 0  40px #0f0,
    0 0  60px #0f0,
    0 0  90px #0f0
}

/* Don't show shadows when selecting text */
::-moz-selection { background: red; color: #fff; text-shadow: none; }
     ::selection { background: red; color: #fff; text-shadow: none; }

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('Library3am.otf');
  letter-spacing: 7px;
  text-transform: uppercase;
}

span {
    padding: 5%;
}

body {
    background: url("time.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 110vh;
}
