@keyframes blink {
  0%,
  49% {
    border-right-color: transparent;
  }
  50%,
  100% {
    border-right-color: currentColor;
  }
}
@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}
html {
  background-color: black;
}
output {
  border-radius: 5em;
  background-color: #131;
  background-image: radial-gradient(ellipse 500% 100% at 50% 90%, transparent, #121);
  background-position: center;
  display: block;
  padding: 3em;
  box-shadow: inset 0 0 10em 1em rgba(0, 0, 0, 0.5);
  overflow: auto;
  font-family: monospace;
  font-size: 1.5em;
  color: rgba(128, 255, 128, 0.8);
  position: absolute;
  z-index: -100;
  top: 10.56%;
  left: 21.48%;
  width: 53%;
  height: 61.81%;
  overflow: auto;
}
output::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7s linear 0s infinite;
}
output::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: radial-gradient(ellipse 50% 15% at 50% 15%, rgba(255, 255, 255, 0.05), transparent), radial-gradient(ellipse 50% 10% at 50% 12%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 50% 5% at 50% 10%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 50% 3% at 50% 9%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 200% 20% at 50% 0%, rgba(0, 0, 0, 0.5), transparent), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
  background-size: 100%, 100%, 100%, 100%, 100%, 100% 0.25ch;
}
output q {
  border-right: 0 solid currentColor;
  animation: blink 500ms linear 0s infinite;
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  line-height: 150%;
}
output q::before {
  content: "> ";
}
output q:last-child {
  border-right-width: 1ch;
}
body {
}

.tlc {
    position: absolute;
    top: 0;
    left: 0;
    width: 27.34%;
    height: 27.78%;
    background-image:url('tlcorner.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.arriba {
    position: absolute;
    left: 27.34%;
    top: 0;
    width: 45.31%;
    height: 10.56%;
    background-image:url('top.png');
    background-repeat:no-repeat;
    background-size:cover;
}

.trc {
    position: absolute;
    left: 72.66%;
    top: 0;
    width: 27.34%;
    height: 27.78%;
    background-image:url('trcorner.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.izquierda {
    position: absolute;
    left: 0;
    top: 27.78%;
    width: 22.27%;
    height: 44.44%;
    background-image:url('left.png');
    background-repeat:no-repeat;
    background-size: cover;
}
#terminal {

}
.derecha {
    position: absolute;
    left: 77.58%;
    top: 27.78%;
    width: 22.42%;
    height: 44.44%;
    background-image:url('right.png');
    background-repeat:no-repeat;
    background-size: cover;
}
.blc {
    position: absolute;
    left: 0;
    top: 72.22%;
    width: 27.34%;
    height: 27.78%;
    background-image:url('blcorner.png');
    background-repeat:no-repeat;
    background-size: cover;
}
.abajo {
    position: absolute;
    top: 79.44%;
    left: 27.34%;
    width: 45.31%;
    height: 20.56%;
    background-image:url('bottom.png');
    background-repeat:no-repeat;
    background-size: cover;

}
.brc {
    position: absolute;
    left: 72.66%;
    top: 72.22%;
    width: 27.34%;
    height: 27.78%;
    background-image:url('brcorner.png');
    background-repeat:no-repeat;
    background-size: cover;
}
.master {
    padding: auto;
}
/*

*/