@keyframes blink {
  0%,
  49% {
    border-right-color: transparent;
  }
  50%,
  100% {
    border-right-color: currentColor;
  }
}
@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}
html {
  background-color: black;
}
output {

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  border-radius: 5em;
  background-color: #131;
  background-image: radial-gradient(ellipse 500% 100% at 50% 90%, transparent, #121);
  background-position: center;
  display: block;
  padding: 3em;
  padding-top: 5em;
  padding-left: 5em;
  box-shadow: inset 0 0 10em 1em rgba(0, 0, 0, 0.5);
  overflow: auto;
  font-family: monospace;
  font-size: 1.5em;
  color: rgba(128, 255, 128, 0.8);
  position: absolute;
  z-index: -100;
  top: 6%;
  left: 19%;
  width: 53%;
  height: 64.81%;
}
output::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

output::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7s linear 0s infinite;
}
output::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: radial-gradient(ellipse 50% 15% at 50% 15%, rgba(255, 255, 255, 0.05), transparent), radial-gradient(ellipse 50% 10% at 50% 12%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 50% 5% at 50% 10%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 50% 3% at 50% 9%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(ellipse 200% 20% at 50% 0%, rgba(0, 0, 0, 0.5), transparent), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
  background-size: 100%, 100%, 100%, 100%, 100%, 100% 0.25ch;
}
output q {
  border-right: 0 solid currentColor;
  animation: blink 500ms linear 0s infinite;
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  line-height: 150%;
}
output span {
  border-right: 0 solid currentColor;
  animation: blink 500ms linear 0s infinite;
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  line-height: 150%;
}

output p {
  border-right: 0 solid currentColor;
  animation: blink 500ms linear 0s infinite;
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  margin-right: 1em;
  line-height: 150%;
}

output #numarray {
	font-size: 3em;
	width: 100%;
	text-align: center;
  border-right: 0 solid currentColor;
  animation: blink 500ms linear 0s infinite;
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  line-height: 150%;
}

output #mini {
	font-size: 0.75em;
	width: 100%;
	text-align: center;
  border-right: 0 solid currentColor;
  animation: blink 500ms linear 0s infinite;
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  line-height: 150%;
}

#prodlist {
    font-size: 0.55em;
    display: grid;
    grid-template-columns: repeat(9, 10em);
}

output #mid {
	font-size: 1.75em;
	width: 100%;
	text-align: center;
  border-right: 0 solid currentColor;
  animation: blink 500ms linear 0s infinite;
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  line-height: 150%;
}
output #norm {
    font-size: 1.5em;
	width: 100%;
	text-align: center;
  border-right: 0 solid currentColor;
  animation: blink 500ms linear 0s infinite;
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  line-height: 150%;
}

output q:last-child {
  border-right-width: 1ch;
}

.tlc {
    position: absolute;
    top: 0;
    left: 0;
    width: 27.34%;
    height: 27.78%;
    background-image:url('./src/tlcorner.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.arriba {
    position: absolute;
    left: 27.34%;
    top: 0;
    width: 45.31%;
    height: 10.56%;
    background-image:url('./src/top.png');
    background-repeat:no-repeat;
    background-size:cover;
}

.trc {
    position: absolute;
    left: 72.66%;
    top: 0;
    width: 27.34%;
    height: 27.78%;
    background-image:url('./src/trcorner.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.izquierda {
    position: absolute;
    left: 0;
    top: 27.78%;
    width: 22.27%;
    height: 44.44%;
    background-image:url('./src/left.png');
    background-repeat:no-repeat;
    background-size: cover;
}
#terminal {

}
.derecha {
    position: absolute;
    left: 77.58%;
    top: 27.78%;
    width: 22.42%;
    height: 44.44%;
    background-image:url('./src/right.png');
    background-repeat:no-repeat;
    background-size: cover;
}
.blc {
    position: absolute;
    left: 0;
    top: 72.22%;
    width: 27.34%;
    height: 27.78%;
    background-image:url('./src/blcorner.png');
    background-repeat:no-repeat;
    background-size: cover;
}
.abajo {
    position: absolute;
    top: 79.44%;
    left: 27.34%;
    right: 54.69%;
    width: 45.31%;
    height: 20.56%;
    background-image:url('./src/bottomoff.png');
    background-repeat:no-repeat;
    background-size: cover;
    z-index: 2;
}

.abajo:focus {
	outline: none;
	box-shadow: 25px 0 15px -4px rgba(128, 255, 128, 0.5), -25px 0 8px -4px rgba(128, 255, 128, 0.5);
	transition: 0.5s;
    position: absolute;
    top: 79.44%;
    left: 27.34%;
    right: 54.69%;
    width: 45.31%;
    height: 20.56%;
    background-image:url('./src/bottomoff.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.abajo:active {
	outline: none;
	box-shadow: 25px 0 15px -4px rgba(128, 255, 128, 0.5), -25px 0 8px -4px rgba(128, 255, 128, 0.5);
	transition: 0.25s;
    position: absolute;
    top: 79.44%;
    left: 27.34%;
    right: 54.69%;
    width: 45.31%;
    height: 20.56%;
    background:url('./src/bottomon.png') no-repeat cover;
}

.brc {
    position: absolute;
    left: 72.66%;
    top: 72.22%;
    width: 27.34%;
    height: 27.78%;
    background-image:url('./src/brcorner.png');
    background-repeat:no-repeat;
    background-size: cover;
}
#app {
	position: relative;
	margin: 1rem;
	min-height: calc(100vh - 2rem);
	overflow: hidden;
	z-index: 3;
}
/*

*/

.app {
  position: relative;
  min-height: calc(100vh - 2rem);
  margin: 1rem;
  overflow: hidden;
}
.app--debug .grab-zone {
  background: rgba(0, 0, 0, 0.15);
}
.app--debug .grab-zone__debug {
  display: block;
}
.app--debug .grab-zone__danger {
  background: rgba(0, 0, 0, 0.15);
}
.app--debug .grabber__arm-wrapper {
  background: rgba(0, 0, 0, 0.15);
}

.grab-zone-wrapper {
  position: absolute;
  bottom: 0;
  right: 36%;
  transform: translateX(30%) translateY(50%);
}

.grab-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1400px;
  height: 900px;
  border-radius: 50%;
}
.grab-zone__danger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 800px;
  border-radius: 50%;
}
.grab-zone__debug {
  display: none;
  position: absolute;
  width: 300px;
  top: -100px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.grabber {
  position: relative;
  width: 100px;
  height: 100px;
}
.grabber__arm-wrapper {
  position: absolute;
  top: -80px;
  width: 48px;
  height: 400px;
}
.grabber__arm {
  position: relative;
  width: 30px;
  height: 700px;
  background: #7D9A9E;
  border-radius: 20px;
  overflow: visible;
  transform: translateY(100%);
  transition: transform 0.2s ease;
}
.grabber__hand {
  display: block;
  position: absolute;
  top: -10px;
  left: -8px;
  transform: scale(1.4) rotate(-10deg) translateY(100%);
  transform-origin: bottom center;
  transition: transform 0.3s ease;
}
.grabber__face {
  position: absolute;
  width: 75px;
  height: 84px;
  right: 5%;
  transition: transform 0.3s ease;
}
.grabber__body {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 110px;
  height: 95px;
  border-radius: 50%;
  background: #7D9A9E;
  transition: transform 0.3s ease;
}
.grabber--waiting .grabber__hand {
  transform: scale(1.4) rotate(-10deg);
}
.grabber--waiting .grabber__arm {
  transform: translateY(60%);
}
.grabber--waiting .grabber__face {
  transform: translateY(60%);
}
.grabber--stalking .grabber__hand {
  transform: scale(1.4) rotate(-10deg);
}
.grabber--stalking .grabber__arm {
  transform: translateY(50%);
}
.grabber--stalking .grabber__face {
  transform: translateY(10%);
}
.grabber--grabbing .grabber__face {
  transform: translateY(-40%) rotate(10deg);
}
.grabber--grabbing .grabber__arm {
  transform: translateY(-50%);
}
.grabber--grabbing .grabber__body {
  transform: translateY(-20%);
}
.grabber--grabbing .grabber__hand {
  transform: scale(1.7) rotate(10deg);
}
.grabber--grabbed .grabber__arm {
  transition: transform 1s ease;
}
.grabber--grabbed .grabber__hand {
  transition: transform 2.5s ease;
}
.grabber--grabbed .grabber__face {
  transform: translateY(70%);
  transition: transform 1s ease;
}
.grabber--grabbed .grabber__body {
  transform: translateY(50%);
  transition: transform 1s ease;
}
.grabber--extended .grabber__arm {
  transform: translateY(-60%);
}
.grabber--extended .grabber__face {
  transform: translateY(-60%) rotate(15deg);
}
.grabber--extended .grabber__body {
  transform: translateY(-40%);
}
.grabber--shaka .grabber__arm {
  transform: translateY(0%);
}
.grabber--shaka .grabber__hand {
  transform: scale(2.5) translateY(10%);
  -webkit-animation: shaka 0.5s infinite alternate forwards;
          animation: shaka 0.5s infinite alternate forwards;
  transform-origin: 55% 60%;
}
.grabber--shaka .grabber__face {
  transform: translateY(70%);
  transition: transform 1s ease;
}
.grabber--shaka .grabber__body {
  transform: translateY(50%);
  transition: transform 1s ease;
}

.trap-button {
    display: none;
  position: absolute;
  bottom: 80px;
  right: 70px;
  min-width: 125px;
  background: #8ECACC;
  color: white;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.debug-button {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  padding: 1rem;
  margin: 1rem;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.5;
}

@-webkit-keyframes shaka {
  0% {
    transform: scale(2.5) translateY(0%) rotate(-20deg);
  }
  100% {
    transform: scale(2.5) translateY(0%) rotate(20deg);
  }
}

@keyframes shaka {
  0% {
    transform: scale(2.5) translateY(0%) rotate(-20deg);
  }
  100% {
    transform: scale(2.5) translateY(0%) rotate(20deg);
  }
}