* {
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	font-size: 1em;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

h1 {
	color: #626262;
}

h2 {
	color: #313131;
}
h3 {
	color: #151515;
}

/* FORMS */
form {
	background-color: #eff4f9;
	display: block;
	border: 2px solid white;

	height: auto;
	margin: 2%;
	padding: 1%;
	width: auto;
	transition: 0.5s;
}

form:hover {
	border: 2px solid black;
		border-radius: 20px;
	transition: 0.5s;
}

form:focus-within {
	border: 2px solid black;
		border-radius: 20px;
	transition: 0.5s;
}

form h1 {
  font-size: 2em;
  font-weight: 600;
  margin-top: 1%;
  text-align: center;
  padding-bottom: 2.5%;
  letter-spacing: 2px;
  overflow-wrap: anywhere;
}

.input {
  background-color: #fff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #222;
  font-size: 1.5em;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: black;
}


.input:focus ~ .placeholder, .input:focus ~ .cut {
  transition: 0.5s;
  color: white;
  background: #29416c;
}

form ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}
form ul li {
	display: flex;
}



form ul li label{
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #DDD;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #222;
  font-size: 1.5em;
  height: 100%;
  outline: 0;
  padding: 8px 20px;
  margin: 1%;
  -webkit-transition: all 0.25s linear;
}

form ul li input[type=radio]{
  visibility: hidden;
}

input[type=radio]:checked ~ label{
  color: #FFF;
  background: #29416c;
}

.placeholder {
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.cut {
	background: #eff4f9;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 90%;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: auto;
}

.header {
	margin: auto;
}

.header-logo {
	display: flex;
	justify-content: space-around;
}

.logoM  a img{
	margin-top: 5%;
	margin-bottom: 4%;
	width: 30vw;
	height: auto;
}
.logoS a img{
margin-top: 5%;
	width: 30vw;
	height: auto;
}

.row {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.row.blue{
	background: #29416c;
	color: white;
	font-weight: bold;
	justify-content: flex-start;
}
.blue .nav {
	transition: 0.5s;
	    padding: 0.75rem 1.5rem;
	border-right: 2px solid white;
	text-transform: capitalize;
	text-decoration: none;
	color: white;
}

.blue .nav:hover, .blue .nav:focus {
	transition: 0.5s;
	background: white;
	cursor: pointer;
	color: black;
}

#inicio {
	border-left:2px solid white;
	margin-left: 10%;
}

.header-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.header__fecha {
    position: absolute;
    right: 3%;
}

.header__fecha p {
	font-size: 0.75em;
}

.oculto {
	display: none;
}
.disabled:focus{
	outline: none;
}
.disabled:focus img{
	outline: 2px solid black;
	outline-radius: 5px;
}


/* BUTTON */
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.button a {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	margin: 20px 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 1px;
	color: #fff;
	transition: 0.5s;
	transition-delay: 0s;
	background: #29416c;
	border: 2px solid transparent;
}
.button a:hover, .button a:focus {
	color: #000;
	background: white;
	cursor: pointer;
	border: 2px solid #29416c;
}

.button a span {
	position: relative;
	z-index: 100;
}

.datos {
	display:flex;
	justify-content: space-around;
	margin-bottom: 2%;
}

.container-data {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
}
.trabajador, .empresa {
	width: 45%;
}
.datos.periodo {
		flex-wrap: nowrap;
}
.periodo .container-data{
	flex-wrap: nowrap;
	justify-content: space-between;
}
.periodo .input-container {
	margin: 2%;
}

.devengosydeducciones {
	justify-content: flex-start;
}

.devengosydeducciones ol {
	list-style-type: upper-roman;
	margin-top: 2%;
}

.devengosydeducciones ol li ol{
	list-style-type: numbers;
}

.complementos {
	align-items: center;
}

#compsal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.button.circle {
	display: inline-block;
}

.button.circle a{
	padding: 0;
	border-radius: 100%;
	width: 2vw;
	height: 2vw;
}

.button.circle .mas{
	background-image: url("../src/plus_white.svg");
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.5s;
}

.button.circle .mas:hover{
	background-image: url("../src/plus.svg");
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.5s;
}

.button.circle .menos{
	background-image: url("../src/minus_white.svg");
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.5s;
}

.button.circle .menos:hover{
	background-image: url("../src/minus.svg");
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.5s;
}