body {
    background-color: grey;
}

div {
    padding: 10px;
    margin: 10%;
    background: white;
}

#normal {
    border: 4px solid;
}

#bottom {
    border-bottom: 5px solid;
}
#rounded {
    border: 4px solid red;
    border-radius: 10px;
}
#b_left {
    border-left: 8px solid blue;
}
#dotted {
    border: 4px dotted orange;
}
#dashed {
    border: 4px dashed purple;
}
#double {
    border: 4px double green;
}
#groove {
    border: 4px groove pink;
}
#ridge {
    border: 4px ridge brown;
}
#inset {
    border: 4px inset yellow;
}
#outset {
    border: 4px outset coral;
}
#none {
    border: 100 px none;
}
#hidden {
    border: 10px hidden orange;
}
#crazy {
    border-top: 5px dotted blue;
    border-right: 5px solid red;
    border-bottom: 5px double yellow;
    border-left: 5px dashed orange;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.inicio {
  background-color: #04AA6D;
}

header {
    margin-bottom: 5px;
}
 body {
	 background: faf5f6;
	 font-family: "Quicksand", sans-serif;
	 color: #333;
}