ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.inicio {
  background-color: #04AA6D;
}

div {
    padding: 5px;
}

* {
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
}
 body {
	 background: faf5f6;
	 font-family: "Quicksand", sans-serif;
	 color: #333;
}
 h1 {
	 width: 100%;
	 margin: 3em auto 1.5em;
	 font-size: 40px;
	 text-align: center;
}
 h1 small {
	 text-transform: none;
	 display: block;
	 margin: 20px 0;
	 font: 300 20px "QuickSand", sans-serif;
	 color: #999;
}
 h4 {
	 width: 100%;
	 margin: 2em auto 0;
	 font-size: 20px;
	 text-align: center;
}
 h4 small {
	 text-transform: uppercase;
	 display: block;
	 margin: 10px 0;
	 font: 300 15px "QuickSand", sans-serif;
	 color: #999;
}
 .contenedor_principal {
	 display: flex;
	 flex-wrap: wrap;
	 margin: 3em auto 0;
	 max-width: 1000px;
	 justify-content: space-around;
	 align-items: center;
}
 .caja_cont {
	 flex: 1;
	 padding: 20px;
	 display: flex;
	 justify-content: center;
	 flex-wrap: wrap;
}
 .caja {
	 width: 200px;
	 height: 200px;
	 position: relative;
	 display: inline-block;
	 perspective: 800px;
}
 .caja__cubierta {
	 border-radius: 6px;
	 width: inherit;
	 height: inherit;
	 position: absolute;
	 top: 0;
	 z-index: 2;
	 transition: 0.3s ease;
	 transform-origin: top left;
	 font: 900 31.1111111111px "Poppins", sans-serif;
	 text-transform: uppercase;
	 color: #fff;
	 overflow: hidden;
}
 .caja__cubierta__border {
	 width: 80%;
	 height: 80%;
	 border: 7px solid #fff;
	 margin: 10%;
}
 .caja__cubierta span {
	 display: inline-block;
	 position: absolute;
	 bottom: 7.5px;
	 left: 10px;
	 padding: 10px;
	 max-width: 50%;
}
 .caja__cubierta__top {
	 position: absolute;
	 left: 0;
	 width: calc(100% + 64px);
	 margin-top: -1px;
	 margin-left: -26px;
	 z-index: 4;
	 border-radius: 3px 3px 4px 4px;
	 opacity: 0;
}
 .caja__base {
	 background: #222;
	 width: inherit;
	 height: inherit;
	 position: absolute;
	 top: 0;
	 border-radius: 8px;
	 padding: 15px;
	 grid-gap: 8px;
}
 .caja:hover .caja__cubierta {
	 transform: rotateX(78deg);
}
 .caja:hover .caja__cubierta__top {
	 animation: startTransition 0.17s forwards 0.1s;
}
 .caja_cont:focus .caja__cubierta {
	 transform: rotateX(78deg);
}
 .caja_cont:focus .caja__cubierta__top {
	 animation: startTransition 0.17s forwards 0.1s;
}
 @keyframes startTransition {
	 0% {
		 opacity: 0;
		 top: 200px;
		 transform: scale(0.5);
		 height: 0;
	}
	 40% {
		 opacity: 1;
	}
	 100% {
		 top: 22px;
		 opacity: 1;
		 transform: scale(1);
		 height: 15px;
		 box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
	}
}
 .caja--one .caja__base {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 grid-template-rows: repeat(2, 1fr);
}
 .caja--one .caja__cubierta {
	 background: #ffc303;
}
 .caja--one .caja__cubierta__top {
	 background: #ecb404;
}
 .caja--one .caja__cubierta span {
	 max-width: 50%;
	 background: #ffc303;
}
 .caja--two .caja__base {
	 display: grid;
	 grid-gap: 12px;
	 justify-self: center;
	 grid-template-columns: repeat(2, 1fr);
	 grid-template-rows: repeat(2, 1fr);
}
 .caja--two .caja__cubierta {
	 background: #ee4266;
}
 .caja--two .caja__cubierta__top {
	 background: #e23a5d;
}
 .caja--two .caja__cubierta span {
	 max-width: 62%;
	 background: #ee4266;
}

 .caja--three .caja__cubierta {
	 background: #0075c4;
}
 .caja--three .caja__cubierta__top {
	 background: #016cb4;
}
 .caja--three .caja__cubierta span {
	 max-width: 48%;
	 background: #0075c4;
}
 .caja--three .caja__base {
	 display: grid;
	 grid-gap: 8px;
	 grid-template-columns: repeat(4, 1fr);
	 grid-template-rows: repeat(4, 1fr);
}

 .caja--four .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}

 .caja--four .caja__cubierta {
	 background: #2a2e45;
}
 .caja--four .caja__cubierta__top {
	 background: #171926;
}
 .caja--four .caja__cubierta span {
	 max-width: 59%;
	 background: #2a2e45;
}
 .caja--five .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}

 .caja--five .caja__cubierta {
	 background: #53cffc;
}
 .caja--five .caja__cubierta__top {
	 background: #11bdfb;
}
 .caja--five .caja__cubierta span {
	 max-width: 59%;
	 background: #53cffc;
}

 .caja--six .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}

 .caja--six .caja__cubierta {
	 background: #02d749;
}
 .caja--six .caja__cubierta__top {
	 background: #02ac3a;
}
 .caja--six .caja__cubierta span {
	 max-width: 59%;
	 background: #02d749;
}

 .caja--seven .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}

 .caja--seven .caja__cubierta {
	 background: #56ee13;
}
 .caja--seven .caja__cubierta__top {
	 background: #44c00e;
}
 .caja--seven .caja__cubierta span {
	 max-width: 59%;
	 background: #56ee13;
}

 .caja--eight .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}

 .caja--eight .caja__cubierta {
	 background: #620aa1;
}
 .caja--eight .caja__cubierta__top {
	 background: #4e0881;
}
 .caja--eight .caja__cubierta span {
	 max-width: 59%;
	 background: #620aa1;
}

 .caja--nine .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}

 .caja--nine .caja__cubierta {
	 background: #ac2b02;
}
 .caja--nine .caja__cubierta__top {
	 background: #8a2202;
}
 .caja--nine .caja__cubierta span {
	 max-width: 59%;
	 background: #ac2b02;
}

 .caja--ten .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}

 .caja--ten .caja__cubierta {
	 background: #a0d144;
}
 .caja--ten .caja__cubierta__top {
	 background: #88b339;
}
 .caja--ten .caja__cubierta span {
	 max-width: 59%;
	 background: #a0d144;
}

 .caja--once .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--once .caja__cubierta {
	 background: #dc793f;
}
 .caja--once .caja__cubierta__top {
	 background: #bc6734;
}
 .caja--once .caja__cubierta span {
	 max-width: 59%;
	 background: #dc793f;
}

 .caja--doce .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--doce .caja__cubierta {
	 background: #b20c6f;
}
 .caja--doce .caja__cubierta__top {
	 background: #98095e;
}
 .caja--doce .caja__cubierta span {
	 max-width: 59%;
	 background: #b20c6f;
}

 .caja--trece .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--trece .caja__cubierta {
	 background: #4ff138;
}
 .caja--trece .caja__cubierta__top {
	 background: #42ce2e;
}
 .caja--trece .caja__cubierta span {
	 max-width: 59%;
	 background: #4ff138;
}

 .caja--catorce .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--catorce .caja__cubierta {
	 background: #784c14;
}
 .caja--catorce .caja__cubierta__top {
	 background: #663f0f;
}
 .caja--catorce .caja__cubierta span {
	 max-width: 59%;
	 background: #784c14;
}

 .caja--15 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--15 .caja__cubierta {
	 background: #d8df9a;
}
 .caja--15 .caja__cubierta__top {
	 background: #b9be83;
}
 .caja--15 .caja__cubierta span {
	 max-width: 59%;
	 background: #d8df9a;
}

 .caja--16 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--16 .caja__cubierta {
	 background: #3e88d9;
}
 .caja--16 .caja__cubierta__top {
	 background: #3473b9;
}
 .caja--16 .caja__cubierta span {
	 max-width: 59%;
	 background: #3e88d9;
}

 .caja--17 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--17 .caja__cubierta {
	 background: #46b445;
}
 .caja--17 .caja__cubierta__top {
	 background: #3a993a;
}
 .caja--17 .caja__cubierta span {
	 max-width: 59%;
	 background: #46b445;
}

 .caja--18 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--18 .caja__cubierta {
	 background: #b379cf;
}
 .caja--18 .caja__cubierta__top {
	 background: #9443bc;
}
 .caja--18 .caja__cubierta span {
	 max-width: 59%;
	 background: #b379cf;
}

 .caja--19 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--19 .caja__cubierta {
	 background: #e6667e;
}
 .caja--19 .caja__cubierta__top {
	 background: #df3a59;
}
 .caja--19 .caja__cubierta span {
	 max-width: 59%;
	 background: #e6667e;
}

 .caja--20 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--20 .caja__cubierta {
	 background: #eeb0a2;
}
 .caja--20 .caja__cubierta__top {
	 background: #e37b65;
}
 .caja--20 .caja__cubierta span {
	 max-width: 59%;
	 background: #eeb0a2;
}

 .caja--21 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--21 .caja__cubierta {
	 background: #d926cb;
}
 .caja--21 .caja__cubierta__top {
	 background: #9b1b91;
}
 .caja--21 .caja__cubierta span {
	 max-width: 59%;
	 background: #d926cb;
}

 .caja--22 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--22 .caja__cubierta {
	 background: #f04b0f;
}
 .caja--22 .caja__cubierta__top {
	 background: #ac350b;
}
 .caja--22 .caja__cubierta span {
	 max-width: 59%;
	 background: #f04b0f;
}

 .caja--23 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--23 .caja__cubierta {
	 background: #3e5f20;
}
 .caja--23 .caja__cubierta__top {
	 background: #253913;
}
 .caja--23 .caja__cubierta span {
	 max-width: 59%;
	 background: #3e5f20;
}

 .caja--24 .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}
 .caja--24 .caja__cubierta {
	 background: #46b445;
}
 .caja--24 .caja__cubierta__top {
	 background: #3a993a;
}
 .caja--24 .caja__cubierta span {
	 max-width: 59%;
	 background: #46b445;
}

 .caja--con .caja__base {
	 display: grid;
	 grid-template-columns: 50% auto;
	 grid-template-rows: auto 20% 20%;
}

 .caja--con .caja__cubierta {
	 background: #1a6de2;
}
 .caja--con .caja__cubierta__top {
	 background: #1557b5;
}
 .caja--con .caja__cubierta span {
	 max-width: 59%;
	 background: #1a6de2;
}